{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> --<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'doctor.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="heading">
        <h1> Consult a Doctor</h1>
</div>
<div class="main">

 <!--cards -->

<div class="card">

<div class="image">
   <img src="https://st2.depositphotos.com/4226061/9064/v/950/depositphotos_90647730-stock-illustration-female-doctor-avatar-icon.jpg">
</div>
<div class="title">
 <h1>
Dr. Sarika Shukla</h1>
</div>
<div class="des">

 <i class="fa fa-phone" aria-hidden="true"></i><span>Contact: 7400767517</span><br><br>
 <i class="fa fa-envelope" aria-hidden="true"></i><span>Mail: sarika@gmail.com</span><br><br>
 <i class="fa fa-home" aria-hidden="true"></i><span>Address: JK Hospital</span><br><br>

</div>
<button>Book</button>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="https://previews.123rf.com/images/yupiramos/yupiramos1705/yupiramos170524444/78443570-a-female-doctor-avatar-character-vector-illustration-design.jpg" >
</div>
<div class="title">
 <h1>
Dr. Kavita Pandey</h1>
</div>
<div class="des">

 <i class="fa fa-phone" aria-hidden="true"></i><span>Contact: 7999003742</span><br><br>
 <i class="fa fa-envelope" aria-hidden="true"></i><span>Mail: kavita@gmail.com</span><br><br>
 <i class="fa fa-home" aria-hidden="true"></i><span>Address: Akshaya Hospital</span><br><br>

</div>
<button>Book</button>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="{% static 'images/sunny.jpg' %}">
</div>
<div class="title">
 <h1>
Dr. Sunny Mishra</h1>
</div>
<div class="des">

 <i class="fa fa-phone" aria-hidden="true"></i><span>Contact: xxxxxxx</span><br><br>
 <i class="fa fa-envelope" aria-hidden="true"></i><span>Mail: sunny@gmail.com</span><br><br>
 <i class="fa fa-home" aria-hidden="true"></i><span>Address: Bansal Hospital</span><br><br>

</div>
<button>Book</button>
</div>
<!--cards -->






<div class="card">

<div class="image">
   <img src="https://previews.123rf.com/images/ihorbiliavskyi/ihorbiliavskyi1812/ihorbiliavskyi181200077/114296311-doctor-avatar-icon-profession-logo-male-character-a-man-in-professional-clothes-people-specialists-f.jpg">
</div>
<div class="title">
 <h1>
Dr. Sarthak Jain</h1>
</div>
<div class="des">

 <i class="fa fa-phone" aria-hidden="true"></i><span>Contact: xxxxxxx</span><br><br>
 <i class="fa fa-envelope" aria-hidden="true"></i><span>Mail: sarthak@gmail.com</span><br><br>
 <i class="fa fa-home" aria-hidden="true"></i><span>Address: Bansal Hospital</span><br><br>

</div>
<button>Book</button>
</div>

       </div>
    </body>
</html>