<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
      <style>
.button {
  background-color: Brown; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <span style='font-size:30px;'>&#128221;</span>
                <h1 class="title">
                    {{request.user}} How was your Day
                </h1>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">

        <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        {{ form.text }}
                    </div>
                </div>


                        <button type="submit" class="button">Submit</button>


        </form>
        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>